.info-tab {
    @apply p-7 py-6;
    backdrop-filter: blur(10px);
}

.info-tab-light {
    background-color: rgba(255, 255, 255, 0.75);
}

.info-tab-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.info {
    @apply flex flex-row justify-between my-5 items-center;
}

.info>div:first-child {
    @apply font-light tracking-widest text-m-key-f-s;
}

.info>div:last-child {
    @apply font-bold text-m-value-f-s;
}

.gray-text {
    color: var(--gray);
}

.white-text {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .info-tab {
        @apply flex flex-row flex-wrap p-16 justify-between;
    }
    .info {
        @apply flex-col justify-start items-start w-5/12;
    }
    .info>div:first-child {
        @apply text-t-key-f-s;
    }
    
    .info>div:last-child {
        @apply text-t-value-f-s;
    }
}
@media screen and (min-width: 1024px){
    .info>div:first-child {
        @apply text-d-key-f-s;
    }
    
    .info>div:last-child {
        @apply text-d-value-f-s;
    }
}

@media screen and (min-width: 1300px){
    .info-tab {
        @apply my-16 mx-auto p-0;
        position: relative;
        width: 1200px;
    }

    .stripe-light-mode::after {
        content: "";
        display: block;
        width: 1px;
        height: 252px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -126px;
        background-color: var(--gray);
    }

    .stripe-dark-mode::after {
        content: "";
        display: block;
        width: 1px;
        height: 252px;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        left: 50%;

        background-color: var(--white);
    }
}