.info-tab {
    @apply p-7 py-6;
    backdrop-filter: blur(10px);
}

.info-tab-light {
    background-color: rgba(255, 255, 255, 0.75);
}

.info-tab-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.info {
    @apply flex flex-row justify-between my-5 items-center;
}

.info>div:first-child {
    @apply font-light tracking-widest text-m-key-f-s;
}

.info>div:last-child {
    @apply font-bold text-m-value-f-s;
}

.gray-text {
    color: var(--gray);
}

.white-text {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .info-tab {
        @apply flex flex-row flex-wrap p-16 p-20;
    }

    .info {
        @apply flex-col justify-start items-start w-5/12 m-6;
    }
    .info>div:first-child {
        @apply text-t-key-f-s;
    }
    
    .info>div:last-child {
        @apply text-t-value-f-s;
    }
}