:root {
    /* colours */
    --black: #000000;
    --white: #FFFFFF;
    --gray: #303030;

    --gray-button-text-color: #808080;
    --button-color: #303030;
    --button-color-hover: #999999;

    /* font sizes */
    /* mobile, font size */
    --m-time-f-s: 100px;
    --m-greetings-f-s: 15px;
    --m-button-f-s: 15px;
    --m-quote-f-s: 12px;
    --m-key-f-s: 13px;
    --m-value-f-s: 20px; 
    --m-abbr-f-s: 15px;

    /* tablet */
    --t-time-f-s: 175px;
    --t-greetings-f-s: 22px;
    --t-button-f-s: 18px;
    --t-quote-f-s: 18px;
    --t-key-f-s: 13px;
    --t-value-f-s: 36px; 
    --t-abbr-f-s: 32px;

    /* desktop */
    --d-time-f-s: 200px;
    --d-greetings-f-s: 28px;
    --d-button-f-s: 18px;
    --d-quote-f-s: 18px;
    --d-key-f-s: 15px;
    --d-value-f-s: 56px; 
    --d-abbr-f-s: 40px;

    /* font */
    --font-family: 'Inter', sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    --bg-color-info-tab-light: rgba(255, 255, 255, 0.75);
    --bg-color-info-tab-dark: rgba(0, 0, 0, 0.75);

}